# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
/.idea/.gitignore
/.idea/deployment.xml
/.idea/editor.xml
/.idea/modules.xml
/.idea/QGIS_Example.iml
/.idea/vcs.xml
/python/PyQGIS_Example/.idea/inspectionProfiles/profiles_settings.xml
/python/PyQGIS_Example/.idea/inspectionProfiles/Project_Default.xml
/python/PyQGIS_Example/.idea/.gitignore
/python/PyQGIS_Example/.idea/dataSources.xml
/python/PyQGIS_Example/.idea/deployment.xml
/python/PyQGIS_Example/.idea/material_theme_project_new.xml
/python/PyQGIS_Example/.idea/misc.xml
/python/PyQGIS_Example/.idea/modules.xml
/python/PyQGIS_Example/.idea/PyQGIS_Example.iml
/python/PyQGIS_Example/.idea/vcs.xml
